* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', Arial, sans-serif;
   background: linear-gradient( #fa9094 0%, #fad0c4 100%);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
